<!DOCTYPE html>
<html>
  <head>
    <title>VirtualFarm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%if flash[:alert]%>
      <p1 ><%= flash[:alert]%> </p1>
    <%end%>
    <%= yield %>
  </body>
</html>
